include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
recursive-exclude * __pycache__
include bps_fbi_sp_ecoli/config/config.default.env
include bps_fbi_sp_ecoli/config/config.default.yaml
